<form class="buttons">
<p>You have $<%=@cash%></p>
<input class="text" name="bet" id="bet" placeholder="Your bet"/> <br />
<button type="submit" formaction="bet" formmethod="post" class="btn btn-primary btn-large">Enter Bet</button>
</form>