<%=erb :errors %>
<div class="table">
    <p>You have $
    <%=@cash%>. Your current bet is $
        <%=@bet%>.</p>
    <% if @cash==@bet %>
    <p>It's all on the line!</p>
    <% end %>
        <button id="hit_user_button" class="btn btn-primary btn-large">Hit</button>
        <button id="user_stays_button" class="btn btn-danger btn-large">Stay</button>
    <%=erb :cards %>
</div>