<form action="/new_player" method=POST>
  <fieldset>
    <label for="player_name">Enter your name: </label>
    <input type="text" name="player_name" id="player_name" />
    <br/>
    <button type="submit" class="btn" />Submit</button>
  </fieldset>
</form>