<!DOCTYPE html>
<html>

<head>
  <title>Blackjack</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/application.css">
  
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/application.js" ></script>
</head>

<body style="padding-top: 50px;">
  <div class="span12">
    <a href="/"><h1 class="text-center">Blackjack</h1></a>
    <div id="game">
        <%=yield %>
    </div>
  </div>
</body>
</html>
